block variables
  - var selected = 'Home';
  - var title = 'Home';

mixin messages(messages)
  if messages && messages.length
    .messages
      each message in messages 
        .toast.message(class=`toast-${message.type}`)= message.text

doctype html
html(lang='en', data-theme='light')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href='https://unpkg.com/spectre.css/dist/spectre.min.css')
    link(rel="stylesheet", href='/stylesheets/style.css')
    script(src='https://unpkg.com/htmx.org@1.8.2')
    title Flashcards #{title}
  body
    header.navbar.semi-transparent
      section.navbar-section
        a.page-title.navbar-brand.text-bold.mr-2(href="/", title="Flashcards Home") Flashcards #{(title) ? "- " + title : ""}
      section.navbar-section
        if authenticated
          a.btn.btn-link(href="/tags") Tags
        a.btn.btn-link(href="/cards") Cards
        a.btn.btn-link(href="/quizzes") Quizzes
        if authenticated
          a.btn.btn-link(href="/profile") Profile: #{user.displayName}
          a.btn.btn-link(hx-post="/logout", hx-target='body') Logout
        if !authenticated
          a.btn.btn-link(href="/login") Log In
    main.container.grid-lg
      +messages(messages)
      block content

    footer.semi-transparent.columns 
      .colum.col-6 Built in Long Beach, California
      .colum.col-6
        .float-right
          a(href="mailto:travis@traviscolbert.net") travis@traviscolbert.net
          span &copy;2022