block variables
  - var selected = 'Home'
  - var title = 'Home'

//- block messages 
//-   if hasMessages 
//-     .messages
//-       each message in messages 
//-         .message.flash(class=message.type)= message.text

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Flashcards #{title}
  body
    div.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
      nav.my-2.my-md-0.mr-md-3
        a.p-2.text-dark(href="/", title="Home") Home

        if user == undefined
          a.p-2.text-dark(href="/tags") Tags
          a.p-2.text-dark(href="/cards") Cards
          a.p-2.text-dark(href="/quizzes") Quizzes
          a.p-2.text-dark(href="/user/login") Log In
        else
          a.p-2.text-dark(href="/dashboard") Dashboard
          a.p-2.text-dark(href="/user/logout") Logout
      h1.page-title Flashcards #{(title) ? "- " + title : ""}
    .container
      //- block messages
      if hasMessages 
        .messages
          each message in messages 
            .message.flash(class=message.type)= message.text

      block content

    hr.bottom
    footer.
      Built with #[a(href='https://expressjs.com/') Express.js], login powered by #[a(href='https://developer.okta.com/') Okta].