extends ../../../views/layout

block variables
  - var selected = "Quiz";
  - var title = "Quizzes";

block content
  h2 Quizzes
  section.header. 
    (#{quizzes.length} #{(quizzes.length !== 1) ? 'quizzes' : 'quiz'})
  section.quizzes.list.container
    each quiz in quizzes
      .item.columns
        .tag-name.column.col-sm-12.col-8 
          - const quizLink = `${quiz.tag.name} (${quiz.side}) (${quiz.length} ${(quiz.length === 1) ? 'card' : 'cards' })`;
          a(href=`/quizzes/${quiz.id}` title=quiz.id)= quizLink
        .actions.column.col-sm-12.col-4
          a.btn.btn-error.float-right(hx-post="/quizzes/" + quiz.id + "?_method=delete", hx-target='body') Delete
  section.footer
    button.new.btn.btn-primary.btn-block(hx-get="/quizzes/new", title="new quiz", hx-push-url="true", hx-target='body') Create new quiz