extends ../../../views/layout

block variables
  - var selected = "Quiz"
  - var title = "Quizes"

block content
  h2 List cards (#{quizes.length} #{(quizes.length !== 1) ? 'quizes' : 'zuiz'})
  .quizes.list
    each quiz in quizes
      .quiz.item
        .field.tag 
          a(href=`/quizes/${quiz.id}` title=quiz.id) #{quiz.tags[0].name}
          form(id="quiz-delete-#{quiz.id}", action="/quizes/" + quiz.id + "?_method=delete", method="POST")
            input(type="submit", value="Delete") 
  .new
    a(href="/quizes/new", title="new quiz")= "Create a new quiz"