extends ../../../views/layout

block variables
  - var selected = "Quiz";
  - var title = "Quizzes";

block content
  h2 Quizzes
  section.header.columns
    .column.col-10.col-sm-12 
      span (#{quizzes.length} #{(quizzes.length !== 1) ? 'quizzes' : 'quiz'})
    .column.col-2.col-sm-12
      if user
        button.new.btn.btn-link.float-right(hx-get="/quizzes/new", title="new quiz", hx-push-url="true", hx-target='body') Create new quiz
  section.quizzes.list.container
    each quiz in quizzes
      .item.columns
        .tag-name.column.col-sm-12.col-4 
          - const quizLink = `${quiz.tag.name} (${quiz.side}) (${quiz.length} ${(quiz.length === 1) ? 'card' : 'cards' })`;
          a(href=`/quizzes/${quiz.id}` title=quiz.id)= quizLink
        .properties.column.col-sm-12.col-4
          if quiz.public
            .text-muted.text-tiny.float-right public
          else
            .text-muted.text-tiny.float-right
              s public
          if quiz.owner
            .text-muted.text-tiny.float-right owned
          else
            .text-muted.text-tiny.float-right
              s owned
        .actions.column.col-sm-12.col-4
          if user && user.id === quiz.owner
            button.delete.btn.btn-error.btn-sm.float-right(hx-post="/tags/#{tag.id}?_method='delete'", hx-target='body') Delete
  section.footer
    if user
      button.new.btn.btn-primary.btn-block(hx-get="/quizzes/new", title="new quiz", hx-push-url="true", hx-target='body') Create new quiz