extends ../../../views/layout

block variables
  - var selected = "Quiz";
  - var title = "Quiz";

block content
  h2 Quiz : #{quiz.tag.name}-#{quiz.id}
  .card.quiz.item
    .progress 
      .bar.bar-sm
        .bar-item(role="progressbar" style=`width:${quiz.progress}%;` aria-valuenow=quiz.progress aria-valuemin="0" aria-valuemax="100")
    .card-header
      .card-title
        h4= `Card #${quiz.step}`
      .card-subtitle.text-gray= `${quiz.showSide}`
    .card-body.quiz.sequence.current
      .flashcard
        h4.face #{card[quiz.showSide]}
    .card-footer
      .navigation
        .btn-group
          button.btn(hx-get=`/quizzes/${quiz.id}?step=${quiz.previous}&side=${quiz.side}`, hx-target='body', disabled=(quiz.step === 1))
            string &#8810;
          a.btn.btn-success(href=`/quizzes/${quiz.id}?step=${quiz.step}&side=${quiz.showSide === 'front' ? 'back' : 'front'}`, hx-target='body') Flip
          button.btn(hx-get=`/quizzes/${quiz.id}?step=${quiz.next}&side=${quiz.side}`, hx-target='body', disabled=!(quiz.next))
            strong &#8811
