extends ../../../views/layout

block variables
  - var selected = "Quiz";
  - var title = "Quiz";

block content
  h2 Quiz #{quiz.id}
  .quiz.item
    .quiz.sequence.current
      h1 #{quiz.step}
    .quiz.tag.name #{quiz.tag.name}
    .quiz.step Step: #{quiz.step}
    .quiz.actual-step ActualStep: #{quiz.actualStep}
    .quiz.current-card-index Current card index: #{quiz.currentCardIndex}
    .quiz.sequence Sequence: #{JSON.stringify(quiz.sequence)}
    .quiz.next Next: #{quiz.next}
    .quiz.previous Previous: #{quiz.previous}
    .quiz.side Side: #{quiz.showSide}
    .card
      .face #{card[quiz.showSide]}
      .response
        if quiz.side != quiz.showSide
      .navigation
        .flip
          a(href=`/quizzes/${quiz.id}?step=${quiz.step}&side=${quiz.showSide === 'front' ? 'back' : 'front'}`) Flip
    .quiz
      .navigation
        if quiz.step > 1
          .previous
            a(href=`/quizzes/${quiz.id}?step=${quiz.previous}&side=${quiz.side}`) Previous
        if quiz.next
          .next
            a(href=`/quizzes/${quiz.id}?step=${quiz.next}&side=${quiz.side}`) Next
