extends ../../../views/layout

block variables
  - var selected = "Card"
  - var title = "Cards"

block content 
  h2 Edit card #{card.front}
  form.edit.card(action=`/cards/${card.id}?_method=put`, method="POST")
    .input.card-id 
      input(type="hidden" name="card[id]" value=card.id)
    .label 
      label(for="card-front")= "Card front"
    .input.front 
      input#card-front(type="text", name="card[front]", value=card.front, autofocus)
    .label 
      label(for="card-back")= "Card back"
    .input.back 
      textarea#card-back(name="card[back]")= card.back
    .label
      label Tag(s):
    .input.tags
      legend Choose tags
      - const cardTagIds = card.tags.map(tag => tag.id)
      each tag in tags
        .tag
          - const checked = cardTagIds.includes(tag.id) ? true : false
          input(type="checkbox", id=`tag_${tag.id}`, name="card[tags]", value=tag.id, checked=checked)
          label(for=`tag_${tag.id}`)= tag.name
    .input.submit
    input(type="submit", value="Submit")