extends ../../../views/layout

block variables
  - var selected = "Card";
  - var title = "Cards";

block content
  h2 Cards 
  section.header.columns
    .column.col-10.col-sm-12 
      span (#{cards.length} #{(cards.length !== 1) ? 'cards' : 'card'})
    .column.col-2.col-sm-12
      if user
        button.new.btn.btn-link.float-right(hx-get='/cards/new', title='new card', hx-target='body') Create new card
  section.cards.list.container
    each card in cards
      .item.columns
        .column.col-12
          .front
            strong 
              a(href=`/cards/${card.id}` title=card.front) #{card.front}
          .back= card.back
        .column.col-12 
          .tags-list
            each tag in card.tags
              span.chip.tag= tag.name
  section.footer
    if user
      button.new.btn.btn-primary.btn-block(hx-get='/cards/new', title='new card', hx-target='body') Create new card