extends ../../../views/layout

block variables
  - var selected = "Card";
  - var title = "Cards";

block content
  h2 List cards (#{cards.length} #{(cards.length !== 1) ? 'cards' : 'card'})
  .cards.list
    each card in cards
      article.card.item
        .field.front
          strong 
            a(href=`/cards/${card.id}` title=card.front) #{card.front}
        .field.back= card.back
  .new
    a(role='button' href='/cards/new', title='new card') Create a new card