extends ../../../views/layout

block variables
  - var selected = "Card";
  - var title = "Cards";

block content
  hgroup
    h2 Show card
  article.card.item
    .front
      h3 #{card.front}
    .back #{card.back}
    footer
      .field.tags
        each tag in card.tags
          .tag #{tag.name}
      .controls
        a(role='button', href=`/cards/${card.id}/edit`, title='edit card')= `Edit ${card.front}`
        button.secondary.outline(hx-post=`/cards/${card.id}?_method=delete`, title='delete card', hx-target='body')= `Delete ${card.front}`