extends ../../../views/layout

block variables
  - var selected = "Tag";
  - var title = "Tags";

block content
  h2 List tags (#{tags.length} #{(tags.length !== 1) ? 'tags' : 'tag'})
  .tags.list
    each tag in tags
      article.tag.item
        .field.name #{tag.name}
        footer
          //- button(hx-get=`/tags/${tag.id}?_method=delete` hx-target='body') Delete
          form(id=`tag-delete-${tag.id}`, action="/tags/" + tag.id + "?_method=delete", method="POST")
            input(type="submit", value="Delete") 
  .new
    a(href="/tags/new", title="new tag") Create new tag
    //- button(hx-get="/tags/new", title="new tag", hx-target='body') Create new tag